.microfrontend {
    display: flex;
    flex-direction: column;
    border-radius: var(--ax-radius-12);
    background-color: var(--ax-bg-default);
    box-shadow: var(--ax-shadow-dialog);
    overflow: hidden;
    position: relative;
}

.microfrontend a,
.microfrontend a:link,
.microfrontend a:visited,
.microfrontend a:hover,
.microfrontend a:active {
    color: var(--ax-neutral-1000);
    text-decoration: none;
}

.tittel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
}

.microfrontend:hover {
    cursor: pointer;
    box-shadow: var(--ax-border-neutral-subtleA);
}

.microfrontend:hover .chevron {
    transition-duration: 0.2s;
    transform: translate(3px, 0);
}

.microfrontend:hover h3 {
    text-decoration: underline;
}

.microfrontend:focus {
    box-shadow: var(--ax-border-accent-subtleA);
    outline: none;
}

.body {
    padding: 1.25rem;
    text-align: left;
}

.chevron {
    position: absolute;
    right: 1rem;
    bottom: 0.5rem;
    flex-shrink: 0;
}

@media (max-width: 320px) {
    .microfrontend {
        max-width: 18rem;
        max-height: 14rem;
    }

    .tittel {
        padding: 1rem;
    }
}

@media (min-width: 1440px) {
    .microfrontend {
        max-width: 29.25rem;
        max-height: 14rem;
    }

    .tittel {
        padding: 1.25rem;
    }
}
